.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8rem;
}

.comming-soon span {
  color: var(--yellow);
}

.comming-soon {
  height:  20px;
  width: 10rem;
}


@media screen and (min-width: 64em) {
  .grid-container {
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 1rem;
  }

}
