.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8rem;
}

.comming-soon span {
  color: var(--yellow);
}

.comming-soon {
  white-space: nowrap;
  border-right: 10px solid;
  max-width: 20.81rem;
  animation:
    typing 5s steps(70, end) infinite alternate-reverse,
    blink-caret .75s step-end infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--yellow);
  }
}


@media screen and (min-width: 64em) {
  .grid-container {
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 1rem;
  }

}
