.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12rem;
}

.grid-container {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  padding: 1rem;
}

.comming-soon span{
  color: var(--yellow);
}

.comming-soon {
  white-space: nowrap;
  border-right: 10px solid;
  max-width: 20.81rem;
  animation:
    typing 5s steps(70, end) infinite alternate-reverse,
    blink-caret .75s step-end infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--yellow);
  }
}


/* .grid-container__project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #1b1b1bcd;
  border: 1px solid var(--white);
  border-radius: 25px;
  padding: 0.3rem;
  height: 16rem;
  width: 13rem;
  box-shadow: -10px 10px var(--white);
  transition: ease-in 250ms;
  transform: scale(1);
}

.grid-container__project-container img {
  max-width: 12.5rem;
  border-radius: 20px;
}

.grid-container__project-container:hover{
  transform: scale(1.12);
  border-color: var(--yellow);
  background: #1b1b1bcd;
  box-shadow: -10px 10px var(--yellow);
} */
